.background{
    background-image: url('https://cdn.pixabay.com/photo/2015/11/15/08/20/mathematics-1044114_960_720.jpg');
}
#center{
    width: 400px;
    height: 700px;
    margin: auto;
    position: relative;
    border: 3px solid black;
    justify-content: center;
    background-color: aquamarine;
}